::-webkit-scrollbar {
    height: 10px;
    width: 0;

}

/* ::-webkit-scrollbar-button {
    background-color: aquamarine;
    width: 10px;
    border-radius: 10px;
    color: aliceblue;
    background-color: black;
    box-shadow: inset 0 0 1px rgb(255, 255, 255);
} */

::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.5);
    width: 2rem;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.696);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(14, 28, 156, 0.354);
    
  }

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.696);
}
