/* **********************************************************
 * add custom styles after imports below
 * ********************************************************** */

@import "default.css";
@import "layout.css";
@import "menu.css";
@import "queries.css";

/* **********************************************************
 * to import a font, use the @import option, you can find
 * lots of font options at fonts.google.com for example.
 * ********************************************************** */

@import url('https://rsms.me/inter/inter.css');

/* DM Mono import */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* DM Sans import */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Bruno Ace, BirthstoneBounce, Alex Brush, Bona Nova  Import */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Birthstone+Bounce:wght@400;500&family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Bruno+Ace&display=swap');

/* pixelify sans import */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/* BBH Sans */

@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');


/* ====== custom fonts from assets ===== */
@font-face {
    font-family: "Snell Roundhand Script"; 
    src: url(/assets/fonts/Snell-Roundhand-Font/Snell-Roundhand-Bold-Script.otf);
}

@font-face {
    font-family: "Visitor TT1 BRK";
    src: url(/assets/fonts/visitor-brk/visitor1.ttf);
}

@font-face {
    font-family: "Visitor TT2 BRK";
    src: url(/assets/fonts/visitor-brk/visitor2.ttf);
}

@font-face {
    font-family: "snoot.org pixel10";
    src: url(/assets/fonts/snoot-org-pixel10/px10.ttf);
}



html {
    
    font-family: Arial, Helvetica, 'DM Sans', sans-serif;
}




/* **********************************************************
 * Customizing
 *
 * changes to default settings like colors, typography,
 * spacing can be made in default.css
 *
 * other custom settings, start below
 *
 * ********************************************************** */

* {
    line-height: 115%;
    font-weight: 400;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 160 160"><defs><radialGradient id="grad" cx="35%"><stop offset="0%25" style="stop-color:%23FFB347;stop-opacity:1" /><stop offset="100%25" style="stop-color:%23FF8C00;stop-opacity:0.8" /></radialGradient><filter id="blur"><feGaussianBlur in="SourceGraphic" stdDeviation="12" /></filter></defs><circle cx="80" cy="80" r="28" fill="url(%23grad)" filter="url(%23blur)" opacity="1"/></svg>') 80 80, auto;
}


@media (orientation: portrait) {
    * {
        font-size: 16px;
    }
}
